JIKAN_API_BASE_URL=
VITE_AMAZON_AFFILIATE_ACTIVE=
VITE_AMAZON_AFFILIATE_TAG=
VITE_CONTACT_EMAIL=
VITE_DISQUS_SHORTNAME=
VITE_DISQUS_URL=
VITE_JIKAN_API_BASE_URL=
VITE_SOCIAL_DISCORD=
VITE_SOCIAL_INSTAGRAM=
VITE_SOCIAL_TWITTER=
VITE_SOCIAL_YOUTUBE=